
@main(Messages("playauthenticate.index.title")) {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="intro-unit">
          <h1>@Messages("travlr.index.intro")</h1>
        <p>@Messages("travlr.index.intro_2")</p>
      </div>

      <!-- Example row of columns -->
      <div class="index-row">
        <div class="span4">
            <p><a class="signup-btn" href="@routes.Application.signup()">@Messages("travlr.index.btn.signup") &raquo;</a></p>
        </div>
        <div class="span4">
            <p><a class="hero-btn" href="@routes.Application.login()">@Messages("travlr.index.btn.login") &raquo;</a></p>
        </div>
      </div>
    }